<tr>
	<td class="tdmain" style="background-color: #0080c0;">
		<%= link_to "Railways in Poland/", root_path, class: "menu" %>
		<span class="header">
			Contact
		</span>
	</td>
</tr>
<tr>
	<td class="tdmain" style="background-color: #ffff80; padding: 20px 0; text-align: center;">
		<%= form_tag send_form_path, method: :post do %>
			<p>
				<%= text_field_tag :name, "", placeholder: "Your name", required: true, style: "width: 200px" %>
			</p>
			<p>
				<%= email_field_tag :email, "", placeholder: "Your email", required: true, style: "width: 200px" %>
			</p>
			<p>
				<%= text_area_tag :message, "", placeholder: "Your message", required: true, size: "28x8" %>
			</p>
			<%= submit_tag "Send" %>
		<% end %>
	</td>
</tr>