<tr>
	<td class="tdmain" style="background-color: #0080c0;">
		<%= link_to "Railways in Poland/", root_path, class: "menu" %>
		<span class="header">
			Contact
		</span>
	</td>
</tr>
<tr>
	<td class="tdmain" style="background-color: #ffff80; padding: 20px 0; text-align: center;">
		<%= form_tag send_form_path, method: :post do %>
			<p>
				<%= text_field_tag :name, "", placeholder: "Your name" %>
			</p>
			<p>
				<%= text_field_tag :email, "", placeholder: "Your email" %>
			</p>
			<p>
				<%= text_field_tag :message, "", placeholder: "Your message" %>
			</p>
		<%= submit_tag "Send" %>
<% end %>
	</td>
</tr>