<table class="links" align="center" cellpadding="1" cellspacing="1" style="width: 400px;">
	<tr>
		<td class="tdtabor2" colspan="2">
			Railway Gallery
		</td>
	</tr>
	<tr>
		<td class="tdmainlocos" style="text-align: left;" colspan="2">
			<% @units.group(:country).count.each do |country| %>
				<%= link_to root_path(country: country) do %>
					<%= image_tag "this2" %><b><%= country %></b><br>
				<% end %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td class="tdtabor2" colspan="2">
			Photo Search
		</td>
	</tr>
	<tr>
		<td class="tdmainlocos" style="text-align: left;" colspan="2">
			<%= form_tag search_path, method: :get do %>
				<%= text_field_tag :query %>
				<%= submit_tag "Search" %>
			<% end %>
		</td>
	</tr>
</table>