<table class="links" align="center" cellpadding="1" cellspacing="1" style="width: 400px;">
	<tr>
		<td class="tdtabor2" colspan="2">
			Railway Gallery
		</td>
	</tr>
	<tr>
		<td class="tdmainlocos" style="text-align: left;" colspan="2">
			<% @units.group(:country).count.sort_by { |c| -c[1] }.each do |country| %>
				<%= link_to root_path(country: country[0].downcase) do %>
					<%= image_tag "http://piotrd.czuby.net/img/this2.gif" %><b><%= country[0] %></b><br>
				<% end %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td class="tdtabor2" colspan="2">
			Photo Search
		</td>
	</tr>
	<tr>
		<td class="tdmainlocos" style="text-align: left;" colspan="2">
			<%= form_tag search_path, method: :get do %>
				<%= text_field_tag :query, "", placeholder: "Class, serial no. or caption" %>
				<%= submit_tag "Search" %>
			<% end %>
		</td>
	</tr>
</table>