<tr>
	<td class="tdmain" style="background-color: #0080c0;">
		<%= link_to "Railways in Poland/", root_path, class: "menu" %>
		<%= link_to "#{@units.first.country}/", root_path(country: @units.first.country.downcase), class: "menu" %>
		<span class="header">
			<%= "#{@units.first.name} (#{@units.first.operator})" %>
		</span>
	</td>
</tr>
<tr>
	<% @units.each do |unit| %>
		<td class="tdmain" style="background-color: #ffff80; padding: 20px 0;">
			<table border="0" align="center" class="locos" cellpadding="1" cellspacing="1">
				<tr>
					<td class="tdlocos" colspan="3">
						<div class="menu2">
							<%= unit.name %>
						</div>
					</td>
				</tr>
				<% unit.encounters.each do |encounter| %>
					<tr>
						<td class="tdlocos" style="width: 30%;">
							<%= link_to units_path(encounter) do %>
								<%= image_tag encounter.image_url %>
							<% end %>
						</td>
						<td class="tdlocos" style="width: 70%;">
							<b>test</b>&nbsp;test<br>
							<span class="small">test</span><br>
							test
						</td>
					</tr>
				<% end %>
			</table>
		</td>
	<% end %>
</tr>
