<tr>
	<td class="tdmain" style="background-color: #0080c0;">
		<%= link_to "Railways in Poland/", root_path, class: "menu" %>
		<%= link_to "#{@units.first.country}/", root_path(country: @units.first.country.downcase), class: "menu" %>
		<span class="header">
			<%= "#{@units.first.name} (#{@units.first.operator.gsub("_", " ")})" %>
		</span>
	</td>
</tr>
<tr>
		<td class="tdmain" style="background-color: #ffff80; padding: 20px 0;">
			<table border="0" align="center" class="locos" cellpadding="1" cellspacing="1">
				<% @units.each do |unit| %>
					<tr>
						<td class="tdlocos" colspan="3" style="padding: 20px 0 0 0;">
							<div class="menu2">
								<%= unit.serial_no %>
							</div>
						</td>
					</tr>
					<% unit.encounters.each do |encounter| %>
						<tr>
							<td class="tdlocos" style="width: 30%;">
								<% split_pattern = "/#{unit.name.downcase}-#{unit.operator.downcase}/" %>
								<% image_path = encounter.image_url.split(split_pattern) %>
								<% image_thumb = "#{image_path[0]}#{split_pattern}small/#{image_path[-1]}" %>
								<%= link_to unit_path(encounter) do %>
									<%= image_tag image_thumb, width: "150px", height: "100px" %>
								<% end %>
							</td>
							<td class="tdlocos" style="width: 70%;">
								<b><%= unit.serial_no %></b>&nbsp;<%= encounter.description %>
								<p><%= encounter.date.strftime("%d %b %Y") %></p>
							</td>
						</tr>
					<% end %>
				<% end %>
			</table>
		</td>
</tr>
