<!DOCTYPE html>
<html>
  <head>
    
    <title><%= yield(:title) %></title>

    <META NAME="description" CONTENT="Railways in Poland - Photographic archives from the years 2000-2004">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <table border="0" align="center" class="main" cellpadding="1" cellspacing="1">
      <tr>
        <td class="tdmain" style="background-color: #FFFF80;">
          <%= link_to root_path do %>
            <%= cl_image_tag "railway-archives/logo" %>
          <% end %>
        </td>
      </tr>
 
        <%= yield %>
     
      <tr>
        <td class="tdmain" style="background-color: #ddeeff;">
          &copy; 2002-2020 Railways in Poland | <%= link_to "Contact", contact_path %>
        </td>
      </tr>
    </table>

    <div style="text-align: center;">
      <% if notice %>
        <p><%= notice %></p>
      <% end %>
    </div>
  
  </body>
</html>
