<!DOCTYPE html>
<html>
  <head>
    <META NAME="keywords" CONTENT="Polish, railways, Poland, Europe, koleje w Polsce, PL, transport w Polsce, Railways in Poland, polska kolej, pkp, Lublin, railroad, locomotives, engine, depot, station, tracks, bahnhof, koleje w Polsce, kolejnictwo, tory, zwrotnica, szyna, trakcja, bahn, rolling stock, lokomotywa, eisenbahn, EU07, ET22, PKP, Cargo, TLK, Polskie Koleje Panstwowe, ET41, ST44, SU45, EP09, archiwa kolejowe">
    <META NAME="description" CONTENT="Railways in Poland">
    <title>Railways in Poland</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <table border="0" align="center" class="main" cellpadding="1" cellspacing="1">
      <tr>
        <td class="tdmain" style="background-color: #FFFF80;">
          <%= link_to root_path do %>
            <%= cl_image_tag "railway-archives/logo" %>
          <% end %>
        </td>
      </tr>
 
        <%= yield %>
     
      <tr>
        <td class="tdmain" style="background-color: #ddeeff;">
          &copy; 2002-2020 Railways in Poland | <%= link_to "Contact", contact_path %>
        </td>
      </tr>
    </table>

  </body>
</html>
