<!DOCTYPE html>
<html>
  <head>
    <META NAME="keywords" CONTENT="kolej, koleje w Lublinie, Polska, Polish, railways, Poland, Europe, koleje w Polsce, PL, transport w Polsce, PKP, Lublin, railroad, locomotives, engine, depot, stacja, kolejnictwo, tory, zwrotnica, szyna, trakcja, bahn, rolling stock, lokomotywa, eisenbahn, EU07, ET22, PKP, Cargo, TLK, LHS, IC, intercity, linia hutnicza szerokotorowa, hutniczo siarkowa, Polskie Koleje Panstwowe, ET41, ST44, SU45, EP09, EP07, ET42, ET21, SU46, EN57, SM42, archiwa kolejowe">
    <META NAME="description" CONTENT="Railways in Poland - Photographic archives from the years 2000-2004">
    <title>Railways in Poland</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <table border="0" align="center" class="main" cellpadding="1" cellspacing="1">
      <tr>
        <td class="tdmain" style="background-color: #FFFF80;">
          <%= link_to root_path do %>
            <%= cl_image_tag "railway-archives/logo" %>
          <% end %>
        </td>
      </tr>
 
        <%= yield %>
     
      <tr>
        <td class="tdmain" style="background-color: #ddeeff;">
          &copy; 2002-2020 Railways in Poland | <%= link_to "Contact", contact_path %>
        </td>
      </tr>
    </table>

      <% if notice %>
        <%= notice %>      
      <% end %>

  </body>
</html>
